/* src/components/routes/Sidebar/Sidebar.css

.sidebar-container{
    margin: auto;
    max-width: 95%;
}


.input-gro {
    display: flex;
    align-items: center;
    width: 20vw; 
    margin: auto;
    margin-top: 1rem;
}

.form-sel {
    flex: 1;
    background-color: #EF6F53;
    color: white;
    border-color: #EF6F53;
    border-radius: 5px; 
    line-height: normal;
    font-size: 0.75em;
    max-width: 38%;
}
.form-sel:hover{
    background-color: #ef411a;
}
.form-cont {
    flex: 2;
    border-radius: 5px; 
    margin-right: 0.5rem; 
    border-color: #EF6F53;
    line-height: normal;
    font-size: 0.75em;
}

.form-cont:focus{
    outline: none;

}
.srch-icon {
    width: 20px;
    height: 20px; 
    cursor: pointer;
    transition: transform 0.3s ease;
}

.srch-icon:hover {
    transform: scale(1.25);
}

 */
