/* src/components/routes/Forms/ListForm/ListForm.css */


.list-container {
  overflow-y: auto;
  height: 65vh;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: auto;
  width: 95%;
  text-align: left;
  position: relative; 
  padding-bottom: 5rem; 
  transition: all 0.3s ease-in-out;
}

.list-container:hover {
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.15);
}

.list_form_headi {
  color: #364C63;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.list_form_headi:hover {
  color: #EF6F53;
}

.customers-table {
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.customers-table th {
  background-color: #364C63;
  color: white;
  padding: 0.25rem;
  padding-left: 0.5rem;
  text-align: left;
  font-weight: bold;
  font-size: 0.75rem;
  border-bottom: 2px solid #EF6F53;
}

.customers-table td {
  padding: 0.25rem;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  border-bottom: 1px solid #ddd;
  font-size: 0.65rem;
  font-weight: 600;
  color: #364C63;
}

.customers-table tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.customers-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Styling for specific columns */
.customers-table td:first-child,
.customers-table th:first-child {
  border-top-left-radius: 10px;
}

.customers-table td:last-child,
.customers-table th:last-child {
  border-top-right-radius: 10px;
  text-align: center;
}

/* .customer-add {
  max-width: vw;
} */

/* Edit button styles */
.edit-btnn {
  border: none;
  border-radius: 10px;
  background-color: #EF6F53;
  color: white;
  font-size: 0.9em;
  padding: 0.25rem;
  width: 5vw;
}

.edit-btnn:hover {
  background-color: #e83d16;
}


/* Pagination Styling */
.pagination-container {
  background-color: #364C63;
  /* bottom: 0;
  left: 0;
  right: 0; */
  padding: 0.5rem; 
  border-top: 2px solid #EF6F53; 
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #364C63;
  border-radius: 10px;
  overflow-x: auto;
  margin: auto;
}

.pagination button {
  background-color: #EF6F53;
  color: white;
  border: none;
  margin: 0 5px;
  padding: 0.5rem;
  font-size: 0.6rem; 
  border-radius: 5px;
  font-weight: 800;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.pagination button:hover {
  background-color: #FF8369; 
  transform: scale(1.05); 
}

.pagination button.active {
  background-color: #dd3e1e;
  font-weight: bold;
}

.pagination button:focus {
  outline: none;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.add-fi{
  display: flex;
  justify-content: center; 
  margin-top: 2rem;
}


.add-field-btn {
  width: 8vw;
  background-color: #EF6F53;
  color: white;
  border: none;
  padding: 0.25rem;
  font-size: 0.75rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-field-btn:hover{
  background-color: #f8360b;
  transform: translateY(2px); 
}